* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.container {
    /* background-color: red; */
    display: flex;
    gap: 40px;
}
.product {
    border: 4px solid black;
    width: 825px;
    margin: 50px auto;
    position: relative;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #f7f7f7;
    padding: 15px 0;
}

.box {
    /* width: 243px; */
    /* box-sizing: border-box; */
    flex: 1;
    margin-top: 20px;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.price {
    font-size: 24px;
}

.shipped {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.paragraph {
    margin-bottom: 10px;
}

.sale {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 15px;
    position: absolute;
    background-color: red;
    top: -17px;
    left: -38px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
}
.more-info:link,
.more-info:visited {
    color: #000;
    margin-bottom: 30px;
        display: inline-block;
}

.more-info:hover,
.more-info:active {
    color: #000;
    text-decoration: none;
}

.product-details {
    /* width: 243px; */
    flex: 1;
    margin-top: 20px;

}
.information {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.detail {
    padding-left: 20px;
    list-style: square;
}

.detail li {
    margin-bottom: 10px;
}

.add {
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-size: 20px;
    padding-bottom: 0;
    border-top: 4px solid black;
    cursor: pointer;
    width: 100%;
}

.add:hover {
    background-color: #fff;
    color: #000;
}
.colors {
    display: flex;
    gap: 10px;
}

.color {
    background-color: #000;
    height: 22px;
    width: 22px;
}

.color-blue {
    background-color: blue;
}

.color-red {
    background-color: red;
}

.color-yellow {
    background-color: yellow;
}

.color-green {
    background-color: green;
}

.color-brown {
    background-color: brown;
}